---
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 3e8a8703264a2f4a69428a0aa4dcb512790b2c8c # frozen: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: |
          (?x)(
            ^vscode/settings\.json$|
            ^vscode/extensions\.json$
          )
      - id: check-added-large-files
      - id: check-shebang-scripts-are-executable
      - id: check-executables-have-shebangs
      - id: detect-private-key
  - repo: https://github.com/Vimjas/vint
    rev: db881f8fe7127cd092436371643e48903099f114 # frozen: v0.4a3
    hooks:
      - id: vint
        exclude: |
          (?x)(
            ^vim/autoload/plug\.vim$
          )
  - repo: https://github.com/codespell-project/codespell
    rev: 63c8f8312b7559622c0d82815639671ae42132ac # frozen: v2.4.1
    hooks:
      - id: codespell
        exclude: |
          (?x)(
            ^vim/autoload/plug\.vim$
          )
  - repo: https://github.com/google/yamlfmt
    rev: 884e367e8fae92b238653fd950a54d235d418e4e  # frozen: v0.20.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: 745eface02aef23e168a8afb6b5737818efbea95 # frozen: v0.11.0.1
    hooks:
      - id: shellcheck
  - repo: https://github.com/commitizen-tools/commitizen
    rev: 2e4f4b26b5b0a0c0ebc660c1f78aca1e28d912bd  # frozen: v4.11.1
    hooks:
      - id: commitizen
      - id: commitizen-branch
        stages: [manual, pre-push]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: a30f0d816e5062a67d87c8de753cfe499672b959 # frozen: v1.5.5
    hooks:
      - id: remove-tabs
        exclude: |
          (?x)(
            ^.git/COMMIT_EDITMSG$
          )
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: 11ea70506fd878d26129b2b87746fd1a1f6b561b  # frozen: 3.6.0
    hooks:
      - id: editorconfig-checker
  - repo: https://github.com/scop/pre-commit-shfmt
    rev: 2a30809d16bc7a60d9b97353c797f42b510d3368 # frozen: v3.12.0-2
    hooks:
      - id: shfmt
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: b035497fb64e3f9faa91e833331688cc185891e6  # frozen: 0.36.0
    hooks:
      - id: check-github-workflows
      - id: check-renovate

ci:
  autoupdate_schedule: quarterly
  autofix_prs: false
